
<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="">CSS</a></li>
            <li> <a href="">HTML</a></li>
            <li> <a href="">Javascript</a></li>
            <li> <a href="">Ruby</a></li>
        </ul>

        <a href=""></a>
    </nav>


    <img class="logo" src="https://web.archive.org/web/20161017001435im_/https://a1.nyt.com/assets/homepage/20161012-091952/images/foundation/logos/nyt-logo-379x64.svg" alt="logo">


        <nav class="masthead-links">
        <ul>
            <li>Tuesday, October 18, 2016</li>
            <li> <a href="">Today’s Paper</a></li>
            <li> <a href="">Video</a></li>
            <li> <a href="">77°F</a></li>
             <li> <a href="">AAO +100%</a></li>
        </ul>
    </nav>



