<h1>Create User, fool!</h1>
<form action="<%= users_url %>" method="post">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <br>
    <label for="username">Username</label>
    <input id="username" type="text" name="user[user_name]" value="<%= @user.user_name %>">
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" value="<%= @user.password %>">
    <br>
    <input type="submit" value="Give me your soul">

</form>